<div class="container main">
  <div class="jumbotron">

    <div class="row">

      <div class="col-8 text-left">
        <div class="jumbotron">
          <h1>Articles</h1>
            {{#each articles}}
              {{> articles/article-block}}
            {{/each}}
        </div>
      </div>

      <div class="col-4">
        <div class="jumbotron">
          <h2>Comments</h2>
          <div id="commentsSection"></div>
        </div>
      </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="alertError" tabindex="-1" role="dialog" aria-labelledby="alertError" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Error</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Please write a burger's name between 1 and 20 characters!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>